(discr_prob_exercises_notebook)=
# Esercizi di probabilità discreta

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from collections import defaultdict
from scipy.constants import golden

In [5]:
%matplotlib inline
sns.set_theme(
    context="paper",
    style="darkgrid",
    palette="colorblind",
    rc={"figure.figsize": (5.0, 5.0 / golden)},
)

SEED = 12345
rng = np.random.default_rng(SEED)

In questo capitolo esamineremo alcuni esempi discussi nel secondo capitolo del testo di {cite:t}`unpingco2022python`.

Consideriamo l'esperimento casuale corrispondente al lancio di due dati equilibrati. Sia $X$ la v.c. corrispondente alla somma dei punti prodotti dai due lanci. Poniamoci il problema di trovare la distribuzione di massa di probabilità di $X$ e la probabilità associata a diversi eventi.

Per affrontare questo problema, {cite:t}`unpingco2022python` inizia a costruire un dizionario Python i cui elementi sono i punti del prodotto cartesiano i cui elementi sono della forma (a,b), dove $a$ appartiene ad $A$ = {1, 2, 3, 4, 5, 6} (punti del primo dado) e $b$ appartiene a $B$ = {1, 2, 3, 4, 5, 6} (punti del secondo dado).

In [17]:
d = {(i, j): i + j for i in range(1, 7) for j in range(1, 7)}
d

{(1, 1): 2,
 (1, 2): 3,
 (1, 3): 4,
 (1, 4): 5,
 (1, 5): 6,
 (1, 6): 7,
 (2, 1): 3,
 (2, 2): 4,
 (2, 3): 5,
 (2, 4): 6,
 (2, 5): 7,
 (2, 6): 8,
 (3, 1): 4,
 (3, 2): 5,
 (3, 3): 6,
 (3, 4): 7,
 (3, 5): 8,
 (3, 6): 9,
 (4, 1): 5,
 (4, 2): 6,
 (4, 3): 7,
 (4, 4): 8,
 (4, 5): 9,
 (4, 6): 10,
 (5, 1): 6,
 (5, 2): 7,
 (5, 3): 8,
 (5, 4): 9,
 (5, 5): 10,
 (5, 6): 11,
 (6, 1): 7,
 (6, 2): 8,
 (6, 3): 9,
 (6, 4): 10,
 (6, 5): 11,
 (6, 6): 12}

Il passo successivo è quello di raccogliere tutte le coppie (a,b) la cui somma corrisponde a ciascuno dei possibili valori da 2 a 12. Per fare questo, {cite:t}`unpingco2022python` utilizza la funzione `defaultdict()`:

In [7]:
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

dinv

defaultdict(list,
            {2: [(1, 1)],
             3: [(1, 2), (2, 1)],
             4: [(1, 3), (2, 2), (3, 1)],
             5: [(1, 4), (2, 3), (3, 2), (4, 1)],
             6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)],
             7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)],
             8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)],
             9: [(3, 6), (4, 5), (5, 4), (6, 3)],
             10: [(4, 6), (5, 5), (6, 4)],
             11: [(5, 6), (6, 5)],
             12: [(6, 6)]})

A questo punto è possibile ottenere una lista di tutte le coppie la cui somma è 7, per esempio:

In [8]:
dinv[7]

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

Il passo successivo consiste nel calcolare la probabilità misurata per ciascun elemento di `dinv`. Utilizzando l'ipotesi di indipendenza, ciò significa che dobbiamo calcolare la somma dei prodotti delle probabilità dei singoli elementi in dinv. Poiché sappiamo che ogni risultato è ugualmente probabile, la probabilità di ogni termine nella somma è uguale a 1/36. Pertanto, tutto ciò che dobbiamo fare è contare il numero di elementi nell'elenco corrispondente per ogni key in `dinv` e dividere per 36. Ad esempio, `dinv[11]` contiene [(5, 6), (6, 5)]. La probabilità di 5+6=6+5=11 è la probabilità di questo insieme, che è composto dalla somma delle probabilità dei singoli elementi {(5,6),(6,5)}. In questo caso, abbiamo P(11) = P({(5, 6)}) + P({(6, 5)}) = 1/36 + 1/36 = 2/36. Ripetendo questa procedura per tutti gli elementi, deriviamo la funzione di massa di probabilità come mostrato di seguito:

In [11]:
X = {i: len(j) / 36.0 for i, j in dinv.items()}
X

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776}

{cite:t}`unpingco2022python` afferma che questo esempio mostra quali sono gli elementi della teoria della probabilità che sono in gioco in questo semplice problema, sopprimendo deliberatamente alcuni dei dettagli tecnici più fastidiosi. 

Esaminiamo con più attenzione la funzione `defaultdict()`. Si noti che, nell'esempio sopra, essa prende come argomento `list`. Consideriamo con il seguente problema. Vogliamo contare quante volte ciascuna parola compare in un testo. Un primo modo per affrontare il problema è il seguente: creiamo un dizionario a cui aggiungiamo come key ciascuna parola (se non è già presente nel dizionario) e, come valore, il numero di occorrenze:

In [22]:
text = "Suppose I need to count the number of word occurrences in a text. How could I do that? Python provides us with multiple ways to do this same thing."
word_count_dict = {}
for w in text.split(" "):
    if w in word_count_dict:
        word_count_dict[w]+=1
    else:
        word_count_dict[w]=1

word_count_dict

{'Suppose': 1,
 'I': 2,
 'need': 1,
 'to': 2,
 'count': 1,
 'the': 1,
 'number': 1,
 'of': 1,
 'word': 1,
 'occurrences': 1,
 'in': 1,
 'a': 1,
 'text.': 1,
 'How': 1,
 'could': 1,
 'do': 2,
 'that?': 1,
 'Python': 1,
 'provides': 1,
 'us': 1,
 'with': 1,
 'multiple': 1,
 'ways': 1,
 'this': 1,
 'same': 1,
 'thing.': 1}

Lo stesso risultato si ottiene con `defaultdict()`. In questo caso

In [23]:
word_count_dict = defaultdict(int)
for w in text.split(" "):
    word_count_dict[w] += 1

word_count_dict

defaultdict(int,
            {'Suppose': 1,
             'I': 2,
             'need': 1,
             'to': 2,
             'count': 1,
             'the': 1,
             'number': 1,
             'of': 1,
             'word': 1,
             'occurrences': 1,
             'in': 1,
             'a': 1,
             'text.': 1,
             'How': 1,
             'could': 1,
             'do': 2,
             'that?': 1,
             'Python': 1,
             'provides': 1,
             'us': 1,
             'with': 1,
             'multiple': 1,
             'ways': 1,
             'this': 1,
             'same': 1,
             'thing.': 1})

Ciò rende chiaro che, in questo caso, `defaultdict()` viene usato per creare un dizionario dove associamo a ciascuna key la frequenza con la quale essa è presente nell'oggetto `text`. In questo secondo esempio, `defaultdict()` prende come argomento `int` perché ritornerà un integer.

Nel caso del lancio dei due dadi, invece, l'argomento di `defaultdict()` è `list`, perché a ciascuna key verrà associata una lista. `d.items()` sono i `dict_items`.

In [25]:
d.items()

dict_items([((1, 1), 2), ((1, 2), 3), ((1, 3), 4), ((1, 4), 5), ((1, 5), 6), ((1, 6), 7), ((2, 1), 3), ((2, 2), 4), ((2, 3), 5), ((2, 4), 6), ((2, 5), 7), ((2, 6), 8), ((3, 1), 4), ((3, 2), 5), ((3, 3), 6), ((3, 4), 7), ((3, 5), 8), ((3, 6), 9), ((4, 1), 5), ((4, 2), 6), ((4, 3), 7), ((4, 4), 8), ((4, 5), 9), ((4, 6), 10), ((5, 1), 6), ((5, 2), 7), ((5, 3), 8), ((5, 4), 9), ((5, 5), 10), ((5, 6), 11), ((6, 1), 7), ((6, 2), 8), ((6, 3), 9), ((6, 4), 10), ((6, 5), 11), ((6, 6), 12)])

Il ciclo `for i, j in d.items():` fa riferimento a ciascuno degli elementi del dizionario `d`.

In [36]:
for i, j in d.items():
    print(i,j)

(1, 1) 2
(1, 2) 3
(1, 3) 4
(1, 4) 5
(1, 5) 6
(1, 6) 7
(2, 1) 3
(2, 2) 4
(2, 3) 5
(2, 4) 6
(2, 5) 7
(2, 6) 8
(3, 1) 4
(3, 2) 5
(3, 3) 6
(3, 4) 7
(3, 5) 8
(3, 6) 9
(4, 1) 5
(4, 2) 6
(4, 3) 7
(4, 4) 8
(4, 5) 9
(4, 6) 10
(5, 1) 6
(5, 2) 7
(5, 3) 8
(5, 4) 9
(5, 5) 10
(5, 6) 11
(6, 1) 7
(6, 2) 8
(6, 3) 9
(6, 4) 10
(6, 5) 11
(6, 6) 12

L'indice `i` indica le coppie

In [37]:
for i, j in d.items():
    print(i)

(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)

Mentre `j` fa riferimento alla somma

In [38]:
for i, j in d.items():
    print(j)

2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10
6
7
8
9
10
11
7
8
9
10
11
12

Ora possiamo usare `defaultdict(list)`. Per ciascun valore della somma (`j`), appendiamo alla lista ad esso associata gli elementi (`i`) che producono tale somma:

In [39]:
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

Avendo ottenuto il risultato riportato sopra, {cite:t}`unpingco2022python` si pone un altra domanda: qual è la probabilità che la metà del prodotto dei punti prodotti da tre dadi superi la loro somma? Possiamo risolverlo usando lo stesso metodo del seguente. Innanzitutto, si crea lo spazio campione dell'esperimento casuale, ovvero un dizionario a cui, per ciascun punto dello spazio campione si aggiunge una variabile booleana che è True se la condizione specificata è soddisfatta ed è False altrimenti.

In [42]:
d = {
    (i, j, k): ((i * j * k) / 2 > i + j + k)
    for i in range(1, 7)
    for j in range(1, 7)
    for k in range(1, 7)
}
d

{(1, 1, 1): False,
 (1, 1, 2): False,
 (1, 1, 3): False,
 (1, 1, 4): False,
 (1, 1, 5): False,
 (1, 1, 6): False,
 (1, 2, 1): False,
 (1, 2, 2): False,
 (1, 2, 3): False,
 (1, 2, 4): False,
 (1, 2, 5): False,
 (1, 2, 6): False,
 (1, 3, 1): False,
 (1, 3, 2): False,
 (1, 3, 3): False,
 (1, 3, 4): False,
 (1, 3, 5): False,
 (1, 3, 6): False,
 (1, 4, 1): False,
 (1, 4, 2): False,
 (1, 4, 3): False,
 (1, 4, 4): False,
 (1, 4, 5): False,
 (1, 4, 6): True,
 (1, 5, 1): False,
 (1, 5, 2): False,
 (1, 5, 3): False,
 (1, 5, 4): False,
 (1, 5, 5): True,
 (1, 5, 6): True,
 (1, 6, 1): False,
 (1, 6, 2): False,
 (1, 6, 3): False,
 (1, 6, 4): True,
 (1, 6, 5): True,
 (1, 6, 6): True,
 (2, 1, 1): False,
 (2, 1, 2): False,
 (2, 1, 3): False,
 (2, 1, 4): False,
 (2, 1, 5): False,
 (2, 1, 6): False,
 (2, 2, 1): False,
 (2, 2, 2): False,
 (2, 2, 3): False,
 (2, 2, 4): False,
 (2, 2, 5): True,
 (2, 2, 6): True,
 (2, 3, 1): False,
 (2, 3, 2): False,
 (2, 3, 3): True,
 (2, 3, 4): True,
 (2, 3, 5): True,
 (2, 3, 6): True,
 (2, 4, 1): False,
 (2, 4, 2): False,
 (2, 4, 3): True,
 (2, 4, 4): True,
 (2, 4, 5): True,
 (2, 4, 6): True,
 (2, 5, 1): False,
 (2, 5, 2): True,
 (2, 5, 3): True,
 (2, 5, 4): True,
 (2, 5, 5): True,
 (2, 5, 6): True,
 (2, 6, 1): False,
 (2, 6, 2): True,
 (2, 6, 3): True,
 (2, 6, 4): True,
 (2, 6, 5): True,
 (2, 6, 6): True,
 (3, 1, 1): False,
 (3, 1, 2): False,
 (3, 1, 3): False,
 (3, 1, 4): False,
 (3, 1, 5): False,
 (3, 1, 6): False,
 (3, 2, 1): False,
 (3, 2, 2): False,
 (3, 2, 3): True,
 (3, 2, 4): True,
 (3, 2, 5): True,
 (3, 2, 6): True,
 (3, 3, 1): False,
 (3, 3, 2): True,
 (3, 3, 3): True,
 (3, 3, 4): True,
 (3, 3, 5): True,
 (3, 3, 6): True,
 (3, 4, 1): False,
 (3, 4, 2): True,
 (3, 4, 3): True,
 (3, 4, 4): True,
 (3, 4, 5): True,
 (3, 4, 6): True,
 (3, 5, 1): False,
 (3, 5, 2): True,
 (3, 5, 3): True,
 (3, 5, 4): True,
 (3, 5, 5): True,
 (3, 5, 6): True,
 (3, 6, 1): False,
 (3, 6, 2): True,
 (3, 6, 3): True,
 (3, 6, 4): True,
 (3, 6, 5): True,
 (3, 6, 6): True,
 (4, 1, 1): False,
 (4, 1, 2): False,
 (4, 1, 3): False,
 (4, 1, 4): False,
 (4, 1, 5): False,
 (4, 1, 6): True,
 (4, 2, 1): False,
 (4, 2, 2): False,
 (4, 2, 3): True,
 (4, 2, 4): True,
 (4, 2, 5): True,
 (4, 2, 6): True,
 (4, 3, 1): False,
 (4, 3, 2): True,
 (4, 3, 3): True,
 (4, 3, 4): True,
 (4, 3, 5): True,
 (4, 3, 6): True,
 (4, 4, 1): False,
 (4, 4, 2): True,
 (4, 4, 3): True,
 (4, 4, 4): True,
 (4, 4, 5): True,
 (4, 4, 6): True,
 (4, 5, 1): False,
 (4, 5, 2): True,
 (4, 5, 3): True,
 (4, 5, 4): True,
 (4, 5, 5): True,
 (4, 5, 6): True,
 (4, 6, 1): True,
 (4, 6, 2): True,
 (4, 6, 3): True,
 (4, 6, 4): True,
 (4, 6, 5): True,
 (4, 6, 6): True,
 (5, 1, 1): False,
 (5, 1, 2): False,
 (5, 1, 3): False,
 (5, 1, 4): False,
 (5, 1, 5): True,
 (5, 1, 6): True,
 (5, 2, 1): False,
 (5, 2, 2): True,
 (5, 2, 3): True,
 (5, 2, 4): True,
 (5, 2, 5): True,
 (5, 2, 6): True,
 (5, 3, 1): False,
 (5, 3, 2): True,
 (5, 3, 3): True,
 (5, 3, 4): True,
 (5, 3, 5): True,
 (5, 3, 6): True,
 (5, 4, 1): False,
 (5, 4, 2): True,
 (5, 4, 3): True,
 (5, 4, 4): True,
 (5, 4, 5): True,
 (5, 4, 6): True,
 (5, 5, 1): True,
 (5, 5, 2): True,
 (5, 5, 3): True,
 (5, 5, 4): True,
 (5, 5, 5): True,
 (5, 5, 6): True,
 (5, 6, 1): True,
 (5, 6, 2): True,
 (5, 6, 3): True,
 (5, 6, 4): True,
 (5, 6, 5): True,
 (5, 6, 6): True,
 (6, 1, 1): False,
 (6, 1, 2): False,
 (6, 1, 3): False,
 (6, 1, 4): True,
 (6, 1, 5): True,
 (6, 1, 6): True,
 (6, 2, 1): False,
 (6, 2, 2): True,
 (6, 2, 3): True,
 (6, 2, 4): True,
 (6, 2, 5): True,
 (6, 2, 6): True,
 (6, 3, 1): False,
 (6, 3, 2): True,
 (6, 3, 3): True,
 (6, 3, 4): True,
 (6, 3, 5): True,
 (6, 3, 6): True,
 (6, 4, 1): True,
 (6, 4, 2): True,
 (6, 4, 3): True,
 (6, 4, 4): True,
 (6, 4, 5): True,
 (6, 4, 6): True,
 (6, 5, 1): True,
 (6, 5, 2): True,
 (6, 5, 3): True,
 (6, 5, 4): True,
 (6, 5, 5): True,
 (6, 5, 6): True,
 (6, 6, 1): True,
 (6, 6, 2): True,
 (6, 6, 3): True,
 (6, 6, 4): True,
 (6, 6, 5): True,
 (6, 6, 6): True}

In [43]:
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

dinv

defaultdict(list,
            {False: [(1, 1, 1),
              (1, 1, 2),
              (1, 1, 3),
              (1, 1, 4),
              (1, 1, 5),
              (1, 1, 6),
              (1, 2, 1),
              (1, 2, 2),
              (1, 2, 3),
              (1, 2, 4),
              (1, 2, 5),
              (1, 2, 6),
              (1, 3, 1),
              (1, 3, 2),
              (1, 3, 3),
              (1, 3, 4),
              (1, 3, 5),
              (1, 3, 6),
              (1, 4, 1),
              (1, 4, 2),
              (1, 4, 3),
              (1, 4, 4),
              (1, 4, 5),
              (1, 5, 1),
              (1, 5, 2),
              (1, 5, 3),
              (1, 5, 4),
              (1, 6, 1),
              (1, 6, 2),
              (1, 6, 3),
              (2, 1, 1),
              (2, 1, 2),
              (2, 1, 3),
              (2, 1, 4),
              (2, 1, 5),
              (2, 1, 6),
              (2, 2, 1),
              (2, 2, 2),
              (2, 2, 3),
              (2, 2, 4),
              (2, 3, 1),
              (2, 3, 2),
              (2, 4, 1),
              (2, 4, 2),
              (2, 5, 1),
              (2, 6, 1),
              (3, 1, 1),
              (3, 1, 2),
              (3, 1, 3),
              (3, 1, 4),
              (3, 1, 5),
              (3, 1, 6),
              (3, 2, 1),
              (3, 2, 2),
              (3, 3, 1),
              (3, 4, 1),
              (3, 5, 1),
              (3, 6, 1),
              (4, 1, 1),
              (4, 1, 2),
              (4, 1, 3),
              (4, 1, 4),
              (4, 1, 5),
              (4, 2, 1),
              (4, 2, 2),
              (4, 3, 1),
              (4, 4, 1),
              (4, 5, 1),
              (5, 1, 1),
              (5, 1, 2),
              (5, 1, 3),
              (5, 1, 4),
              (5, 2, 1),
              (5, 3, 1),
              (5, 4, 1),
              (6, 1, 1),
              (6, 1, 2),
              (6, 1, 3),
              (6, 2, 1),
              (6, 3, 1)],
             True: [(1, 4, 6),
              (1, 5, 5),
              (1, 5, 6),
              (1, 6, 4),
              (1, 6, 5),
              (1, 6, 6),
              (2, 2, 5),
              (2, 2, 6),
              (2, 3, 3),
              (2, 3, 4),
              (2, 3, 5),
              (2, 3, 6),
              (2, 4, 3),
              (2, 4, 4),
              (2, 4, 5),
              (2, 4, 6),
              (2, 5, 2),
              (2, 5, 3),
              (2, 5, 4),
              (2, 5, 5),
              (2, 5, 6),
              (2, 6, 2),
              (2, 6, 3),
              (2, 6, 4),
              (2, 6, 5),
              (2, 6, 6),
              (3, 2, 3),
              (3, 2, 4),
              (3, 2, 5),
              (3, 2, 6),
              (3, 3, 2),
              (3, 3, 3),
              (3, 3, 4),
              (3, 3, 5),
              (3, 3, 6),
              (3, 4, 2),
              (3, 4, 3),
              (3, 4, 4),
              (3, 4, 5),
              (3, 4, 6),
              (3, 5, 2),
              (3, 5, 3),
              (3, 5, 4),
              (3, 5, 5),
              (3, 5, 6),
              (3, 6, 2),
              (3, 6, 3),
              (3, 6, 4),
              (3, 6, 5),
              (3, 6, 6),
              (4, 1, 6),
              (4, 2, 3),
              (4, 2, 4),
              (4, 2, 5),
              (4, 2, 6),
              (4, 3, 2),
              (4, 3, 3),
              (4, 3, 4),
              (4, 3, 5),
              (4, 3, 6),
              (4, 4, 2),
              (4, 4, 3),
              (4, 4, 4),
              (4, 4, 5),
              (4, 4, 6),
              (4, 5, 2),
              (4, 5, 3),
              (4, 5, 4),
              (4, 5, 5),
              (4, 5, 6),
              (4, 6, 1),
              (4, 6, 2),
              (4, 6, 3),
              (4, 6, 4),
              (4, 6, 5),
              (4, 6, 6),
              (5, 1, 5),
              (5, 1, 6),
              (5, 2, 2),
              (5, 2, 3),
              (5, 2, 4),
              (5, 2, 5),
              (5, 2, 6),
              (5, 3, 2),
              (5, 3, 3),
              (5, 3, 4),
              (5, 3, 5),
              (5, 3, 6),
              (5, 4, 2),
              (5, 4, 3),
              (5, 4, 4),
              (5, 4, 5),
              (5, 4, 6),
              (5, 5, 1),
              (5, 5, 2),
              (5, 5, 3),
              (5, 5, 4),
              (5, 5, 5),
              (5, 5, 6),
              (5, 6, 1),
              (5, 6, 2),
              (5, 6, 3),
              (5, 6, 4),
              (5, 6, 5),
              (5, 6, 6),
              (6, 1, 4),
              (6, 1, 5),
              (6, 1, 6),
              (6, 2, 2),
              (6, 2, 3),
              (6, 2, 4),
              (6, 2, 5),
              (6, 2, 6),
              (6, 3, 2),
              (6, 3, 3),
              (6, 3, 4),
              (6, 3, 5),
              (6, 3, 6),
              (6, 4, 1),
              (6, 4, 2),
              (6, 4, 3),
              (6, 4, 4),
              (6, 4, 5),
              (6, 4, 6),
              (6, 5, 1),
              (6, 5, 2),
              (6, 5, 3),
              (6, 5, 4),
              (6, 5, 5),
              (6, 5, 6),
              (6, 6, 1),
              (6, 6, 2),
              (6, 6, 3),
              (6, 6, 4),
              (6, 6, 5),
              (6, 6, 6)]})

In [44]:
X = {i: len(j) / 6.0**3 for i, j in dinv.items()}
print(X)

{False: 0.37037037037037035, True: 0.6296296296296297}

In [15]:
d = pd.DataFrame(
    index=[(i, j) for i in range(1, 7) for j in range(1, 7)],
    columns=["sm", "d1", "d2", "pd1", "pd2", "p"],
)
d

         sm   d1   d2  pd1  pd2    p
(1, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 6)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(2, 6)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(3, 6)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(4, 6)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(5, 6)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 5)  NaN  NaN  NaN  NaN  NaN  NaN
(6, 6)  NaN  NaN  NaN  NaN  NaN  NaN

In [16]:
d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]

d.head(), d.tail()

(         sm  d1  d2  pd1  pd2    p
 (1, 1)  NaN   1   1  NaN  NaN  NaN
 (1, 2)  NaN   1   2  NaN  NaN  NaN
 (1, 3)  NaN   1   3  NaN  NaN  NaN
 (1, 4)  NaN   1   4  NaN  NaN  NaN
 (1, 5)  NaN   1   5  NaN  NaN  NaN,
          sm  d1  d2  pd1  pd2    p
 (6, 2)  NaN   6   2  NaN  NaN  NaN
 (6, 3)  NaN   6   3  NaN  NaN  NaN
 (6, 4)  NaN   6   4  NaN  NaN  NaN
 (6, 5)  NaN   6   5  NaN  NaN  NaN
 (6, 6)  NaN   6   6  NaN  NaN  NaN)

In [17]:
d["sm"] = d["d1"] + d["d2"]
d.head()

        sm  d1  d2  pd1  pd2    p
(1, 1)   2   1   1  NaN  NaN  NaN
(1, 2)   3   1   2  NaN  NaN  NaN
(1, 3)   4   1   3  NaN  NaN  NaN
(1, 4)   5   1   4  NaN  NaN  NaN
(1, 5)   6   1   5  NaN  NaN  NaN

In [19]:
d["pd1"] = 1/6
d["pd2"] = 1/6
d["p"] = d["pd1"] * d["pd2"]
d.head()

        sm  d1  d2       pd1       pd2         p
(1, 1)   2   1   1  0.166667  0.166667  0.027778
(1, 2)   3   1   2  0.166667  0.166667  0.027778
(1, 3)   4   1   3  0.166667  0.166667  0.027778
(1, 4)   5   1   4  0.166667  0.166667  0.027778
(1, 5)   6   1   5  0.166667  0.166667  0.027778

In [20]:
d["p"].sum()

1.0

In [21]:
d.groupby('sm')['p'].sum()

sm
2     0.027778
3     0.055556
4     0.083333
5     0.111111
6     0.138889
7     0.166667
8     0.138889
9     0.111111
10    0.083333
11    0.055556
12    0.027778
Name: p, dtype: float64